:root {
    --corFundo: black;
    --corLetra: white;
    --corFundoMenu: black;
    --corLetraMenu: white;
}

body {
    background-color: var(--corFundo);
    color: var(--corLetra)
}

.custom-button {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #1a0d52, #2575fc);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-transform: uppercase;
  }

  .custom-button:hover {
    background: linear-gradient(135deg, #2575fc, #1a0d52);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }

  .custom-button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.menu {
    background: var(--corFundoMenu);
    color: var(--corLetraMenu);
    display: flex;
    flex-direction: row;
    padding: 2px;
}

.menu svg {
    fill: var(--corLetraMenu);
}

.menu #itens-menu {
    flex: 1;
}

#config {
    float: right;
    margin-right: 20px;
}

#config svg {
    cursor: pointer;
    margin-right: 15px;
}

.menu #conta{
    max-width: 400px;
}

.menu #conta span {
    margin-right: 10px;
}

.menu #conta button {
    padding: 2px 5px;
    margin: 2px;
    background-color: var(--corLetraMenu);
    color: var(--corFundoMenu);
    cursor: pointer;
}

#boxBloco {
    margin-bottom: 5px;
}

.boxCopyScript, .boxRascunho {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 2px 0;
}

.boxCopyScript .copy {
    font-weight: 700;
    height: 30px;
    padding: 2px 4px;
    margin: 0 1px;
    min-width: 80px;
    border-radius: 10px 0;
    background-color: var(--corFundo);
    color: var(--corLetra);
    border: 1px solid var(--corLetra);
}

.boxCopyScript .copy:hover{
    cursor: pointer;
}

.boxCopyScript .copy:active {
    background-color: green;
}

.boxCopyScript .script, .rascunho {
    font-size: 18px;
    min-height: 40px;
    padding: 2px;
    width: 380px;
    background-color: var(--corFundo);
    color: var(--corLetra);
    border: 1px solid var(--corLetra);
    transition: background-color 0.5s ease;
    pointer-events: auto; /*none: Nenhuma interação com o ponteiro. auto: Comportamento padrão. */
    resize: both; /* both: Rredimensionamento horizontal e vertical. vertical: so na vertical. horizontal: só na horizontal */
}

.rascunho {
    height: 100px;
    width: 490px;
    margin-bottom: 10px;
}
 
.grupo{
    width: fit-content;
    padding: 5px 15px 0;
    /*border: 1px solid var(--corLetra);*/
    border: none;
    margin-bottom: 15px;
}

.grupo legend {
    font-weight: 700;
    font-size: 24px;
}

#semGrupo {
    /*margin-top: 25px;*/
    border: none;
}

.inpListGrup {
    padding: 4px;
    font-size: 18px;
    width:280px;
}

#btnCreatGrups{
    padding: 4px;
    font-size: 18px;
    font-weight: 700;
}

.centralizar {
    
}

#selectGrupo {
    max-width: 390px;
    padding: 2px;
}

.boxCopyScript .opcoes svg{
    fill: var(--corLetra);
}

.boxCopyScript .opcoes svg:hover{
    cursor: pointer;
}

.boxCopyScript .opcoes svg:hover ~ .boxCopyScript{
    background-color: red; 
}

.esconder {
    display: none;
}

.lado-a-lado {
    display: inline-block;
}

.marginTOP {
    margin-top: 10px;
}

.boxPadrao {
    margin: 5px auto;
    padding: 10px 10px;
    width: fit-content;
    background-color: #d8f5f7;
    border-radius: 5px;
}

.boxPadrao label {
    font-size: 16px;
    font-weight: 700;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.boxPadrao select {
    padding: 12px 10px;
    font-size: 16px;
}

.checkboxs {
    margin: 20px auto 5px;
    width: fit-content;
}

#listPadrao {
    max-width: 550px;
    margin: 10px auto;
}

#listPadrao #ttListPadrao {
    text-align: center;
    font-weight: 700;
    padding: 20px;
}

#listPadrao table {
    margin-top: 20px;
    border-collapse: collapse;
}
#listPadrao table tr td {
    padding: 2px 5px;
    
}

.tdScript {
    max-width: 100%;
}

