*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.6);
    text-align: center;
    padding: 2px 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}
