<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Danilo Castro CE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/iconBloco.png" type="image/x-icon">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/loginCadastro.css">
    <title>Login - Bloco</title>
</head>

<body>
    <div class="box">
        <% if(mensagem) {
            mensagem.forEach(el => { %>
                <p class="msgError"><%=el%></p>
            <%})%>    
        <%} %>

        <form action="/login" method="post">
            <table>
                <tr>
                    <td> 
                        <label for="email">Email:</label>
                    </td>
                    <td>
                        <input type="email" name="email" id="email">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="senha">Senha:</label>
                    </td>
                    <td>
                        <input type="password" name="senha" id="senha">
                    </td>
                </tr>
            </table>
            <button type="submit">Entrar</button>
        </form>
        <button class="btnForaForm" id="btn-cadastro">Registrar</button>
    </div>

    <script src="./js/init.js"></script>
</body>

</html>
